version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: service_chat-postgres
    environment:
      POSTGRES_DB: service_chat_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: service_chat-service
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: service_chat_db
      DB_USER: postgres
      DB_PASSWORD: postgres
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
