apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "service-chat.fullname" . }}
  labels:
    {{- include "service-chat.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "service-chat.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "service-chat.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.serviceAccount }}
      {{- if .Values.serviceAccount.name }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
      {{- else }}
      serviceAccountName: {{ include "service-chat.fullname" . }}-sa
      {{- end }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.service.targetPort }}
          protocol: TCP
        env:
        - name: DB_HOST
          value: {{ .Values.database.host | quote }}
        - name: DB_PORT
          value: {{ .Values.database.port | quote }}
        - name: DB_NAME
          value: {{ .Values.database.name | quote }}
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: {{ include "service-chat.fullname" . }}-secret
              key: db-user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "service-chat.fullname" . }}-secret
              key: db-password
        {{- if .Values.redis }}
        - name: REDIS_HOST
          valueFrom:
            configMapKeyRef:
              name: {{ include "service-chat.fullname" . }}-config
              key: redis.host
        - name: REDIS_PORT
          valueFrom:
            configMapKeyRef:
              name: {{ include "service-chat.fullname" . }}-config
              key: redis.port
        - name: REDIS_SSL
          valueFrom:
            configMapKeyRef:
              name: {{ include "service-chat.fullname" . }}-config
              key: redis.ssl
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "service-chat.fullname" . }}-secret
              key: redis-password
        {{- end }}
        {{- range $key, $value := .Values.env }}
        - name: {{ $key }}
          value: {{ $value | quote }}
        {{- end }}
        envFrom:
        - configMapRef:
            name: chat-aws-config
            optional: true
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 10 }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 10 }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
